.expense-item {
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: var(--background-color);
  height: 100px;
  border: solid var(--primary-text) 3px;
  color: var(--secondary-text);
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.expense-item-right {
  display: flex;
  text-align: center;
  background-color: var(--primary-text);
  color: var(--background-color);
  width: 200px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.expense-item-name {
  color: var(--secondary-text);
}

.expense-item-date {
  color: var(--sub-topic-text);
  font-size: 1.2rem;
  padding-top: 0;
  font-weight: 500;
}
