.chart-bar {
  height: 100%;
  max-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
}

.chart-bar-inner {
  height: 100%;
  width: 100%;
  border: 1px solid var(--primary-text);
  border-radius: 20px;
  background-color: var(--primary-background);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar-fill {
  background-color: var(--primary-text);
  width: 100%;
  border-radius: 20px;
  padding: 0;
  transition: all 0.3s ease-out;
}

.chart-bar-lable {
  text-align: center;
  font-size: 68%;
  color: var(--secondary-text);
}
