.new-expense__control {
  margin: 5px 0;
  color: var(--secondary-text);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  border: 2px solid var(--primary-text);
  border-radius: 10px;
  background: var(--background-color);
  outline: none;
  font-family: "Inconsolata", monospace;
}

.new-expense__actions {
  background-color: var(--background-color);
  color: var(--primary-text);
  width: fit-content;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
  border: 2px solid var(--primary-text);
  font-family: "Inconsolata", monospace;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}

.new-expense__actions:hover {
  background-color: var(--primary-text);
  color: var(--background-color);
}
