@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&display=swap");

:root {
  --background-color: #eae7dc;
  --primary-text: #e85a4f;
  --secondary-text: #1a1a1d;
  --sub-topic-text: #8e8d8a;
}

* {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Inconsolata", monospace;
}
